.nav {
    grid-area: n;
    display: grid;
    grid-template-areas:"home" "download" "info" "forum" "donation";
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    /*grid-gap: 1px;*/
    background-color: rgba(12, 88, 164, 0.47);
    border-radius: 15px;
    height: 420px;
    width: 99%;
}

.nav:hover{
    background-color: rgba(5, 70, 134, 0.63);
    box-shadow:0px 0px 3px 3px #02a8ef,
            0px 0px 2px 2px #02efef;
}
.nav_txt{
    text-anchor: middle;
    font-size:36px;
    text-decoration-line: none;
}
.nav_txt:hover{
    cursor: context-menu;
}

.myButton {
    background:linear-gradient(to bottom, #2dabf9 5%, #0979db 100%);
    background-color:#2dabf9;
    border-radius:5px;
    border:1px solid #0b0e07;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:23px;
    padding:14px 67px;
    margin: 5px;
    box-shadow: inset 0px 0px 2px 2px aqua;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
    background:linear-gradient(to bottom, #0979db 5%, #2dabf9 100%);
    background-color:#0979db;
}
.myButton:active {
    position:relative;
    top:1px;
}