.download:hover{
    box-shadow: 0px 0px 2px 2px aqua;
}
.download{
    grid-area: download;
    background-color: #d99000;
    border-radius: 3px;
    margin: 5px;
    text-align: center;
    box-shadow: inset 0px 0px 2px 2px aqua;
}