
.header {
    grid-area: h;
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: ". . i . ." ". . i . .";
    grid-auto-rows: 100px;
    grid-template-columns: 1fr 1fr 200px 1fr 1fr;
    width: 99.7%;
    background-color: rgb(21, 91, 160);
    border-radius: 6px;

}
.header:hover{
    background-color: rgb(39, 161, 246);
}
.img {
    grid-area: i;
    border-radius: 50px;
    background-image: url("../../L2Relife-logo-1.png");
    /*background-size: cover;*/
    background-size: auto 200px;
    background-repeat: no-repeat;
}

