.app-wrapper {

    display: grid;
    width: 100%;
    margin: 10px auto;
    background-image: url("web-wallpaper-2560x1600.jpg");

    grid-template-areas:
    "h h"
    "c n";

    grid-template-rows: 2fr 50fr;
    grid-template-columns: 10fr 2fr;
    grid-gap: 5px;

}





